<article class="grid gap-4 bg-stone-50 p-4">
  <header class="flex justify-center">
    <h1 class="text-3xl font-extrabold text-stone-800">
      <%= @post.title %>
    </h1>
  </header>
  <div class="text-stone-900">
    <%= @post.content %>
  </div>
</article>
